/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: sans-serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

body {
  width: 300px;
  margin: 0 auto;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.25em;
  background-size: 100%;
  background-image: url("../images/external-link-52.png");
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nexa+Extra+Light&display=swap');

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Nexa Extra Light', sans-serif;
}
